<!-- BEGIN_INCLUDE(google-contacts:get-contacts) -->
    <google-contacts:get-contacts fullTextQuery="Mulesoft" config-ref="google-contacts" />
<!-- END_INCLUDE(google-contacts:get-contacts) -->
<!-- BEGIN_INCLUDE(google-contacts:get-contact-by-id) -->
    <google-contacts:get-contact-by-id id="#[map-payload:id]" config-ref="google-contacts" />
<!-- END_INCLUDE(google-contacts:get-contact-by-id) -->
<!-- BEGIN_INCLUDE(google-contacts:get-contact-by-id) -->
    <google-contacts:get-contact-by-id id="#[map-payload:id]" config-ref="google-contacts" />
<!-- END_INCLUDE(google-contacts:get-contact-by-id) -->
<!-- BEGIN_INCLUDE(google-contacts:insert-contact) -->
    <google-contacts:insert-contact config-ref="google-contacts" />
<!-- END_INCLUDE(google-contacts:insert-contact) -->
<!-- BEGIN_INCLUDE(google-contacts:update-contact) -->
    <google-contacts:update-contact config-ref="google-contacts" />
<!-- END_INCLUDE(google-contacts:update-contact) -->
<!-- BEGIN_INCLUDE(google-contacts:add-group) -->
    <google-contacts:add-group groupId="#[map-payload:id]" config-ref="google-contacts" />
<!-- END_INCLUDE(google-contacts:add-group) -->
<!-- BEGIN_INCLUDE(google-contacts:delete-contact-by-id) -->
    <google-contacts:delete-contact-by-id contactId="#[map-payload:id]" config-ref="google-contacts" />
<!-- END_INCLUDE(google-contacts:delete-contact-by-id) -->
<!-- BEGIN_INCLUDE(google-contacts:delete-contact) -->
    <google-contacts:delete-contact config-ref="google-contacts" />
<!-- END_INCLUDE(google-contacts:delete-contact) -->
<!-- BEGIN_INCLUDE(google-contacts:download-photo-by-id) -->
    <google-contacts:download-photo-by-id id="#[map-payload:id]" config-ref="google-contacts" />
<!-- END_INCLUDE(google-contacts:download-photo-by-id) -->
<!-- BEGIN_INCLUDE(google-contacts:download-photo) -->
    <google-contacts:download-photo config-ref="google-contacts" />
<!-- END_INCLUDE(google-contacts:download-photo) -->
<!-- BEGIN_INCLUDE(google-contacts:update-contact-photo) -->
    <google-contacts:update-contact-photo contactId="#[map-payload:id]" config-ref="google-contacts" />
<!-- END_INCLUDE(google-contacts:update-contact-photo) -->
<!-- BEGIN_INCLUDE(google-contacts:delete-contact-photo-by-id) -->
    <google-contacts:delete-contact-photo-by-id contactId="#[map-payload:id]" config-ref="google-contacts" />
<!-- END_INCLUDE(google-contacts:delete-contact-photo-by-id) -->
<!-- BEGIN_INCLUDE(google-contacts:delete-contact-photo) -->
    <google-contacts:delete-contact-photo config-ref="google-contacts" />
<!-- END_INCLUDE(google-contacts:delete-contact-photo) -->
<!-- BEGIN_INCLUDE(google-contacts:get-groups) -->
    <google-contacts:get-groups updatedMin="2012-06-18T00:00:00Z" updatedMax="2012-06-19T00:00:00Z" config-ref="google-contacts" />
<!-- END_INCLUDE(google-contacts:get-groups) -->
<!-- BEGIN_INCLUDE(google-contacts:get-group-by-name) -->
    <google-contacts:get-group-by-name groupName="my group" config-ref="google-contacts" />
<!-- END_INCLUDE(google-contacts:get-group-by-name) -->
<!-- BEGIN_INCLUDE(google-contacts:get-group-by-id) -->
    <google-contacts:get-group-by-id id="#[map-payload:id]" config-ref="google-contacts" />
<!-- END_INCLUDE(google-contacts:get-group-by-id) -->
<!-- BEGIN_INCLUDE(google-contacts:create-group) -->
    <google-contacts:create-group config-ref="google-contacts" />
<!-- END_INCLUDE(google-contacts:create-group) -->
<!-- BEGIN_INCLUDE(google-contacts:update-group) -->
    <google-contacts:update-group config-ref="google-contacts" />
<!-- END_INCLUDE(google-contacts:update-group) -->
<!-- BEGIN_INCLUDE(google-contacts:delete-group-by-id) -->
    <google-contacts:delete-group-by-id groupId="#[map-payload:id]" config-ref="google-contacts" />
<!-- END_INCLUDE(google-contacts:delete-group-by-id) -->
<!-- BEGIN_INCLUDE(google-contacts:delete-group) -->
    <google-contacts:delete-group config-ref="google-contacts" />
<!-- END_INCLUDE(google-contacts:delete-group) -->
<!-- BEGIN_INCLUDE(google-contacts:batch-contacts) -->
    <google-contacts:batch-contacts batchId="sample" config-ref="google-contacts">
    	<google-contacts:batch-insert operationId="inserts" entries-ref="#[map-payload:inserts]" config-ref="google-contacts" />
    	<google-contacts:batch-update operationId="updates" entries-ref="#[map-payload:updates]" config-ref="google-contacts" />
    	<google-contacts:batch-delete operationId="deletes" entries-ref="#[map-payload:deletes]" config-ref="google-contacts" />
    </google-contacts:batch-contacts>
<!-- END_INCLUDE(google-contacts:batch-contacts) -->
<!-- BEGIN_INCLUDE(google-contacts:batch-groups) -->
    <google-contacts:batch-groups batchId="sample" config-ref="google-contacts">
    	<google-contacts:batch-insert operationId="inserts" entries-ref="#[map-payload:inserts]" config-ref="google-contacts" />
    	<google-contacts:batch-update operationId="updates" entries-ref="#[map-payload:updates]" config-ref="google-contacts" />
    	<google-contacts:batch-delete operationId="deletes" entries-ref="#[map-payload:deletes]" config-ref="google-contacts" />
    </google-contacts:batch-groups>
<!-- END_INCLUDE(google-contacts:batch-groups) -->
<!-- BEGIN_INCLUDE(google-contacts:batch-insert) -->
		<google-contacts:batch-insert operationId="inserts" entries-ref="#[map-payload:inserts]" config-ref="google-contacts" />
<!-- END_INCLUDE(google-contacts:batch-insert) -->
<!-- BEGIN_INCLUDE(google-contacts:batch-update) -->
		<google-contacts:batch-update operationId="updates" entries-ref="#[map-payload:updates]" config-ref="google-contacts" />
<!-- END_INCLUDE(google-contacts:batch-update) -->
<!-- BEGIN_INCLUDE(google-contacts:batch-delete) -->
		<google-contacts:batch-delete operationId="deletes" entries-ref="#[map-payload:deletes]" config-ref="google-contacts" />
<!-- END_INCLUDE(google-contacts:batch-delete) -->